# enviroment configuration
venv

# git files
.git
.gitignore

# docker files
Dockerfile
docker-compose.yml

# jenkinsfile
Jenkinsfile

# test manifests
cypress
node_modules
cypress.json
package-lock.json
package.json

# gcp credentials
bug-tracker-sa-credentials.json

# terraform 
main.tf