{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_2JDfdV.json"  background="transparent"  speed="1"  style="width: 700px; height: 500px;"  loop  autoplay></lottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 py-3" style="color: #0E0426;">Big ideas come with small <span style="color: #58438D;">bugs</span></h1>
            <p class="lead text-muted"><span style="color: #8AC5D9;">Buggerfly</span> is a fundamentally oriented investment group that identifies and captures compelling long-term investment opportunities presented by market inefficiencies</p>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-5 fw-normal">Buggerfly mobile</h1>
        <p class="lead fw-normal">Recieve updates on the go. Never miss a bug.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
</div>

<div id="features" class="container marketing">
    <!-- START THE FEATURETTES -->

    <div class="row featurette py-5">
      <div class="col-md-7 order-md-2">
        <h2 style="color: #5773c1">Plan. <span style="color: rgb(247 100 137);;">It’ll blow your mind.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_BP4Us7.json"  background="transparent"  speed="1" hover loop  autoplay></lottie-player>
      </div>
    </div>

    <br><br>
    <div class="row featurette py-5">
      <div class="col-md-7">
        <h2 style="color: #2f70fe">Track. <span style="color: #A1D8E4ff;">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_ZKWrBS.json"  background="transparent" style="width: 500px; height: 400px;" speed="1" loop  autoplay></lottie-player>
      </div>
    </div>

    <div class="row featurette py-5">
        <div class="col-md-7 order-md-2">
          <h2 style="color: #5f2eea">Solve. <span style="color: #fbcad0;">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_hlzxxlfs.json"  background="transparent"  speed="1"  style="width: 500px; height: 300px;" hover loop autoplay></lottie-player>
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div>

<div id="pricing" class="py-5 bg-light">
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal" style="color: #34116Eff;">Affordable Pricing</h1>
            <p class="fs-5 text-muted">Choose what suits best for you.</p>
        </div>
    
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title" style="color: #0E0426;">$0<span class="text-muted fw-light">/mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-outline-info">Sign up for free</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title" style="color: #0E0426;">$15<span class="text-muted fw-light">/mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-info">Get started</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-info">
                <div class="card-header py-3 text-white bg-info border-info">
                  <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title" style="color: #0E0426;">$29<span class="text-muted fw-light">/mo</span></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-info">Contact us</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</div>



{% endblock %}